---
import Layout from "../layouts/Layout.astro";
import { $path } from "astro-typesafe-routes";
import Link from "astro-typesafe-routes/link";
---

<Layout>
  <a href={$path({ to: "/blog/[id]", params: { id: "hej" } })}>Click here!</a>

  <Link to="/article/[...slug]" params={{ "...slug": "hej" }}>Slug here</Link>
</Layout>
