---
import type { RouteId } from "astro-typesafe-routes/path";
import { Navbar } from "../components/page/navbar.tsx";
import "../styles/index.css";
import { cn } from "../lib/utils.ts";
import type { Version } from "@/lib/version.ts";

export type Props = {
  activeRouteId: RouteId;
  fixedHeight?: boolean;
  version?: Version | undefined;
  hideChangeVersion?: boolean;
}

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
		<title>Astro Typesafe Routes</title>
	</head>
	<body class={cn("dark font-geist", Astro.props.fixedHeight && "h-svh flex flex-col" )}>
    <Navbar client:load activeRouteId={Astro.props.activeRouteId} version={Astro.props.version} hideChangeVersion={Astro.props.hideChangeVersion ?? true} />
		<slot />
	</body>
</html>
