---
import { LinkButton } from "@/components/ui/button.tsx";
import { Container } from "@/components/ui/container.tsx";
import { Separator } from "@/components/ui/separator.tsx";
import DefaultLayout from "@/layouts/default-layout.astro";
import Markdown from "./_create-route.md"
import { ChevronRightIcon } from "lucide-react"
import { Sidebar, SidebarContent, SidebarWrapper } from "@/components/page/sidebar.tsx"
---

<DefaultLayout>
  <Container className="markdown">
    <SidebarWrapper>
      <Sidebar client:load activeRouteId="/documentation/usage/create-route" />
      <SidebarContent>
        <Markdown />
        <Separator className="my-6" />
        <div class="flex items-center">
          <div class="grow" />
          <LinkButton to="/documentation/usage/link">
            Link Component
            <ChevronRightIcon className="size-4" />
          </LinkButton>
        </div>
      </SidebarContent>
    </SidebarWrapper>
  </Container>
</DefaultLayout>
