---
import { z } from "astro/zod";
import { getSearch } from "astro-typesafe-routes";
import Link from "astro-typesafe-routes/link/vue";

export const searchSchema = z.object({
  filter: z.string().catch("all"),
  isActive: z.boolean().catch(false),
});

const search = getSearch(Astro, searchSchema);
---

<div>
  hello!
  <Link client:load>Hit me</Link>

  123
</div>
