---
import { createRoute } from "astro-typesafe-routes/create-route";
import { z } from "astro/zod";

const route = createRoute(Astro, {
  routeId: "/",
  searchSchema: z.object({
    name: z.string().optional(),
  }),
});

return route.rewrite({ to: "/blog/[postId]", params: { postId: "1" } });
---

<div>index</div>
