---
import { createRoute } from "astro-typesafe-routes/create-route";
import { z } from "astro/zod";

const route = createRoute("/", {
  Astro,
  searchSchema: z.object({
    name: z.string().optional(),
  }),
});
---

<div>index</div>
